.DS_Store

# logs / temp
*.log

# env files
.env
.env.*
!.env.example

# caches
.cache/
**/.cache/

# Go build / test artifacts
coverage.out
*.test

# local Go cache (quando GOCACHE aponta para o projeto)
.gocache/
**/.gocache/

# Node
node_modules/
**/node_modules/
dist/
**/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
