.DS_Store

# logs / temp
*.log

# env files
.env
.env.*
!.env.example

# caches
.cache/
**/.cache/

# Go build / test artifacts
coverage.out
*.test

# local Go cache (quando GOCACHE aponta para o projeto)
.gocache/
**/.gocache/
